body {
    background-image: url("../slike/dark-honeycomb.png");
    background-color: #cccccc;
    }
    .nav-link{
        font-size:20px;
        color: white;
    }

    #naslov h1{
        text-align: center;
        font-size: 50px;
        font-family:CustomFont;
    }
    form label{
        font-family:CustomFont;
    }
    form{
        font-size: 30px;
    }
    #naslov{
        background-color: rgb(0,114,188);
    }
    #naslov #prva{
        width:60px;
        float:left;
    }
    #naslov #druga{
        width:60px;
        float:right;
    }
    .navbar-nav > li{
        padding-left:30px;
        padding-right:30px;
    }
    .navbar {
        background-color: rgb(0,114,188);
    }
    footer{

        color:white;
    }
    footer img{
        width:30px;
        margin:30px;
    }
    footer {
        max-width:10%;
    }
    .active-page{
        border: 1px solid white;
    }
    .carousel-inner div {
            text-align: center;
        }
    .carousel-inner img {
            width: 40%;

    }
    #galerija{
        margin:auto;
        margin-top:150px;
        max-width:80%
    }
    

    .carousel-indicators li {
        width: 10px;
        height: 10px;
    border-radius: 100%; 
}
    ul.carousel-indicators {
    bottom: -70px;
    }

    ul.carousel-indicators li {
        height: 25px;
        width: 25px;
        border-radius: 100%;        
    }

    .container{
        margin-top:70px;
        
    }

    .kartice{
        text-align: center;
        margin-top:200px;
    }
    .kartice div{
        display:inline-block;
        max-width:20%;
        border:5px solid grey;
        border-radius: 20px;
        text-align: center;
        box-shadow: 10px 2px 10px #888888;
    }
    .kartica img{
        max-width: 50%;
        border-radius: 100%;
        margin-bottom: 10px;
    }
    .kartica{
        color: white;
        margin:30px;
        height:300px;
        overflow:hidden;
        word-break: break-word;
    }
    .kartica img:hover{
        
        box-shadow: 0 0 20px white;
      }

    @font-face {
font-family: "CustomFont";
src: url("notime.ttf");
}
/*cv deo*/

.clear {clear: both;}


#cv {
	width: 90%;
	max-width: 900px;
	background: #f3f3f3;
	margin: 70px auto;
}

.gornji {
	padding: 30px ;
	border-bottom: 2px solid rgb(0,114,188);
	background: #ededed;
}
.gornji img{
    width:15px;
    margin-right:5px;
}

#glavnideo {
	padding: 0 40px;
}

#cvslika {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#cvslika img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

#ime {
    float: left;
    padding-top:20px;
}

#kontaktpodaci {
    float: right;
    padding-top:20px;
}

#kontaktpodaci ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}


#kontaktpodaci ul li a:hover { 
	color: #cf8a05;
}


section {
	border-bottom: 1px solid rgb(0,114,188);
	padding: 20px 0 0;
}

.naslovsekcije {
	float: left;
    width: 20%;
    overflow:hidden;
    word-break: break-word;
}

.sadrzajsekcije {
	float: right;
	width: 75%;
}

.naslovsekcije h1 {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: rgb(0,114,188);
}

.sadrzajsekcije h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
	
    margin-bottom: -2px;
    color: rgb(0,114,188);
}
.sadrzajsekcije h4{
    font-size: 20px;
}
.sadrzajsekcije ul{
    text-align: justify;
    padding-left:15px;
}

.oddo {
	font-size: 15px;
	font-style: italic;
	margin-bottom: 5px;
}

.sadrzajsekcije span{
    font-style: italic;
    font-size: 12px;
}
table{
    margin-top:10px;
}
#tabela1{
    background-color: #65a1d3b4;
    text-align: center;

}
#tabela2{
 
    text-align: center;
}
td {
    text-align: center;
}

article:hover{
    font-weight: bold;
}
article h3:hover{
    text-shadow: 1px 1px 1px black, 0 0 1px blue, 0 0 1px darkblue;
}
 .naslovsekcije:hover{
    text-shadow: 1px 1px 1px black, 0 0 1px blue, 0 0 1px darkblue;
}
.gornji:hover{
    text-shadow: 1px 1px 1px black, 0 0 1px blue, 0 0 1px darkblue;
}

